name: Run Frontend Tests

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm i
      
      - name: Run frontend tests
        run: npx jest tests/frontend
      
      - name: Run frontend tests with coverage
        run: npx jest tests/frontend --collectCoverage
